interactions:
- request:
    body: '{"course_event_requests": [{"course_uuid": "25d4bc9a-aec8-4337-8cad-5fcb9a0a9f90",
      "sequence_number_offset": 0, "event_types": ["create_course"], "request_uuid":
      "c5f5c856-a11c-44e5-9493-6e1dec6daeea"}], "max_num_events": 1000}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://biglearn-api-dev.openstax.org/fetch_course_events
  response:
    body: {string: '{"course_event_responses":[{"request_uuid":"c5f5c856-a11c-44e5-9493-6e1dec6daeea","course_uuid":"25d4bc9a-aec8-4337-8cad-5fcb9a0a9f90","events":[],"is_gap":false,"is_end":true}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"a6b8d88034cc2be6a1f6b14c5fd963ef"]
    status: {code: 200, message: OK}
version: 1
