interactions:
- request:
    body: '{"algorithm_name": "biglearn-sparfa-test"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://biglearn-scheduler-dev.openstax.org/fetch_exercise_calculations
  response:
    body: {string: '{"exercise_calculations":[{"calculation_uuid":"8cca119d-36d0-492d-a32d-f59e888b0f06","ecosystem_uuid":"b9fcd313-c2e4-45ca-a533-c7f090de3170","student_uuid":"2bd7d203-af67-46ee-9e15-960d54c8c8d3","exercise_uuids":["084cf500-5354-40d1-9bec-23a378ae8206","42d958f2-c80c-498b-bf82-a99af491e8b3","f74083f9-1a03-419d-8605-a937be0d7adc","7a09fb2c-b0df-4ebc-959a-bcf34f1a9526","d9809e39-9267-4889-b204-d76297a35a94","2253bfd6-f58c-4de4-8ca7-d1391d739b2d","3921f48a-0c2d-48a9-abb3-f67f9652c2da","c2375060-3450-4723-b352-c795f805ecee","cf4359d8-af4b-49eb-b3a9-f0032657944f","ad2dc411-cfd2-4d2e-bad0-9ddfec76c118","5d778a97-c124-4518-84be-4b9a0a3447c6","b852194e-878c-4327-86cc-7532d904a9cc","dc241daa-49eb-4ac1-a4dd-9c116c[...]
