interactions:
- request:
    body: '{"exercise_calculation_updates": [{"calculation_uuid": "b1e32df9-1915-42d9-9929-785db957d58d",
      "exercise_uuids": ["29f83616-e158-461e-bdb4-3808fe353561", "4b511ecf-91d5-4967-b412-c4cd00a5140d"],
      "algorithm_name": "biglearn-sparfa-test"}]}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://biglearn-scheduler-dev.openstax.org/update_exercise_calculations
  response:
    body: {string: '{"exercise_calculation_update_responses":[{"calculation_uuid":"b1e32df9-1915-42d9-9929-785db957d58d","calculation_status":"calculation_unknown"}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"fd8f16095752430eb34216c5100d353f"]
    status: {code: 200, message: OK}
version: 1
