interactions:
- request:
    body: '{"clue_calculation_updates": [{"calculation_uuid": "b1e32df9-1915-42d9-9929-785db957d58d",
      "clue_data": {"minimum": 0, "most_likely": 0.5, "maximum": 1, "is_real": false,
      "ecosystem_uuid": "d145e892-e08f-48fe-b054-32f26c7c8bfc"}, "algorithm_name":
      "biglearn-sparfa-test"}]}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://biglearn-scheduler-dev.openstax.org/update_clue_calculations
  response:
    body: {string: '{"clue_calculation_update_responses":[{"calculation_uuid":"b1e32df9-1915-42d9-9929-785db957d58d","calculation_status":"calculation_unknown"}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"c9b8584290599ff6bd358c636046c48b"]
    status: {code: 200, message: OK}
version: 1
