interactions:
- request:
    body: '{"ecosystem_matrices_updated": [{"calculation_uuid": "b1e32df9-1915-42d9-9929-785db957d58d",
      "algorithm_name": "biglearn-sparfa-test"}]}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://biglearn-scheduler-dev.openstax.org/ecosystem_matrices_updated
  response:
    body: {string: '{"ecosystem_matrix_updated_responses":[{"calculation_uuid":"b1e32df9-1915-42d9-9929-785db957d58d","calculation_status":"calculation_unknown"}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"44c8e5a9e3dd4a9be009b394c2925e48"]
    status: {code: 200, message: OK}
version: 1
