interactions:
- request:
    body: '{"ecosystem_event_requests": [{"ecosystem_uuid": "d145e892-e08f-48fe-b054-32f26c7c8bfc",
      "sequence_number_offset": 0, "event_types": ["create_ecosystem"], "request_uuid":
      "c5f5c856-a11c-44e5-9493-6e1dec6daeea"}], "max_num_events": 1000}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://biglearn-api-dev.openstax.org/fetch_ecosystem_events
  response:
    body: {string: '{"ecosystem_event_responses":[{"request_uuid":"c5f5c856-a11c-44e5-9493-6e1dec6daeea","ecosystem_uuid":"d145e892-e08f-48fe-b054-32f26c7c8bfc","events":[],"is_gap":false,"is_end":true}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"274b05c25d9c6c7e9cb95715ec39d502"]
    status: {code: 200, message: OK}
version: 1
