interactions:
- request:
    body: '{"algorithm_name": "biglearn-sparfa-test"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://biglearn-scheduler-dev.openstax.org/fetch_clue_calculations
  response:
    body: {string: '{"clue_calculations":[{"calculation_uuid":"6530e09c-a9ab-4cff-8aa4-0b9fa67c256a","ecosystem_uuid":"9d02d691-3029-41ca-963c-3d835f9bc0a5","student_uuids":["227e8199-18c3-41c6-941c-41105b7c3f4a"],"exercise_uuids":["4946c449-185b-43a9-a02a-4da4ee835307","ff810595-0aff-487f-b681-97617ce64a66","0fe0adb0-102a-4599-90e9-1602d80f65ff","8be2d5eb-595f-4f34-a452-498b79c38a7f","578069fc-8a69-4590-b7c8-488c7893b797","904ad590-ae3b-471e-a5e9-31aeb85104a5","6aed311d-5358-4ad9-b66d-da0775885c70","1e9f1253-db78-4d16-844b-d112d526e6a7","1de54032-6f6a-44ef-b07c-445126bc4dca","9162be1c-5e29-44f3-8a62-56bd913e0c31","38196ff1-1a49-4625-abe0-ec27ff4af27b","96b6c8d5-b288-4754-bd8e-6ff5b686cc7e","763c8f1d-0429-4895-b10d-ed5817[...]
