interactions:
- request:
    body: '{"metadata_sequence_number_offset": 42, "max_num_metadatas": 10}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://biglearn-api-dev.openstax.org/fetch_ecosystem_metadatas
  response:
    body: {string: '{"ecosystem_responses":[{"uuid":"f640a6b2-00c8-47fa-8195-7e06bbd0752c","metadata_sequence_number":42},{"uuid":"d44ec387-2db4-4c11-aacb-0e6dd05be115","metadata_sequence_number":43},{"uuid":"62a01e5d-f27f-4598-8ee6-8c5c5775e725","metadata_sequence_number":44},{"uuid":"664d651b-6a4f-4ab6-a56b-939e68a091b0","metadata_sequence_number":45},{"uuid":"287ad4f0-39ab-4c53-936b-783c42f3a314","metadata_sequence_number":46},{"uuid":"0f0884de-4e04-49b8-a591-70f0a7f503da","metadata_sequence_number":47},{"uuid":"9d02d691-3029-41ca-963c-3d835f9bc0a5","metadata_sequence_number":48},{"uuid":"bc0f03d3-5e65-4e0e-b459-b8f322d25776","metadata_sequence_number":49},{"uuid":"32a1bc1a-c0d1-4558-82bf-e2990b967399","metadata_sequence_number":50},{"uuid":"0bdcbed5-26ad-4e20-b551-c5878033b4b1","metadata_sequence_number":51}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"9f0d11d6854438cd86f7899a20e2b75c"]
    status: {code: 200, message: OK}
version: 1
