interactions:
- request:
    body: '{"metadata_sequence_number_offset": 42, "max_num_metadatas": 10}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://biglearn-api-dev.openstax.org/fetch_course_metadatas
  response:
    body: {string: '{"course_responses":[{"uuid":"3ceb4366-12b7-413b-8886-397e9ee082cc","initial_ecosystem_uuid":"bdd5aef2-5e8f-45bb-b00a-a0e9deb1c29d","metadata_sequence_number":42},{"uuid":"25fb076b-3df1-4997-88d2-eff469f59577","initial_ecosystem_uuid":"58701f4e-18c5-475e-b2fe-1b7e0aa77e7c","metadata_sequence_number":43},{"uuid":"dccf83d7-7a62-4407-a4d5-978f85551e26","initial_ecosystem_uuid":"58701f4e-18c5-475e-b2fe-1b7e0aa77e7c","metadata_sequence_number":44},{"uuid":"6d6b9242-886b-4776-91c8-60deb8dc3c13","initial_ecosystem_uuid":"58701f4e-18c5-475e-b2fe-1b7e0aa77e7c","metadata_sequence_number":45},{"uuid":"780526ec-05f2-4988-aec2-6d0042346268","initial_ecosystem_uuid":"58701f4e-18c5-475e-b2fe-1b7e0aa77e7c","metadata_sequence_number":46},{"uuid":"161e4cb2-cc23-46e6-8434-a06be112d1ab","initial_ecosystem_uuid":"58701f4e-18c5-475e-b2fe-1b7e0aa77e7c","metadata_sequence_number":47},{"uuid":"07f60767-cdec-4b1b-a5c5-294e4ab38794","initial_ecosystem_uuid":"bdd5aef2-5e8f-45bb-b00a-a0e9deb1c29d","metadata_sequence_number":48},{"uuid":"eb2aa712-e048-4ac6-aa88-0f41f1a90665","initial_ecosystem_uuid":"bdd5aef2-5e8f-45bb-b00a-a0e9deb1c29d","metadata_sequence_number":49},{"uuid":"a8c6f40d-044e-443e-ab49-f2f3dcaca16f","initial_ecosystem_uuid":"58701f4e-18c5-475e-b2fe-1b7e0aa77e7c","metadata_sequence_number":50},{"uuid":"0585b6ee-f8d8-4948-bbf2-7fd69f2e1c61","initial_ecosystem_uuid":"58701f4e-18c5-475e-b2fe-1b7e0aa77e7c","metadata_sequence_number":51}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"78b1c7b4ebf7e03ca2631dc1ec455d31"]
    status: {code: 200, message: OK}
version: 1
