interactions:
- request:
    body: '{"algorithm_name": "biglearn-sparfa-test"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://biglearn-scheduler-dev.openstax.org/fetch_ecosystem_matrix_updates
  response:
    body: {string: '{"ecosystem_matrix_updates":[{"calculation_uuid":"7b76a565-c942-4890-9300-7c1ef909d0dc","ecosystem_uuid":"22601a15-8c66-4ee1-ad0e-1e7b5b13c131"},{"calculation_uuid":"ccddb4a8-24f9-4f50-9a26-20f7e9cf68dc","ecosystem_uuid":"4561b36e-d59a-4490-8875-2e06ecc7bcf4"},{"calculation_uuid":"ffb3aa1c-c2cf-4153-a31b-08cc88d19084","ecosystem_uuid":"4b3c1802-7c14-44c0-abc1-be8a9b51c6cd"},{"calculation_uuid":"7c38258f-0cef-4e33-baf5-3b012023b634","ecosystem_uuid":"4d50f377-1198-41d5-82a1-24744bb4f6e9"},{"calculation_uuid":"43a67913-59ee-47c1-ab65-71687a3e6a30","ecosystem_uuid":"4e983989-dad1-4002-b2a4-36a0d35afa5[...]
