[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
celery = "*"
celery-once = "*"
celery-redbeat = "*"
click = "*"
honcho = "*"
kombu = "*"
numpy = "*"
psycopg2 = "*"
python-dotenv = "*"
redis = "*"
requests = "*"
scipy = "*"
SQLAlchemy = "*"
sparfa-algs = {editable = true, ref = "master", git = "https://github.com/openstax/biglearn-sparfa-algs.git/"}
sparfa-server = {editable = true, path = "."}

[dev-packages]
pytest = "*"
pytest-cov = "*"
vcrpy = "*"
vcrpy-unittest = "*"

[requires]
python_version = "3.6"

[scripts]
test = "pytest"
