[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"sparfa-algs" = {editable = true, ref = "master", git = "https://github.com/openstax/biglearn-sparfa-algs.git/"}
"e1839a8" = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.6"

[scripts]
test = "pytest"
