alembic==1.2.1
amqp==2.5.1
billiard==3.6.1.0
celery==4.3.0
celery-once==3.0.1
celery-redbeat==0.13.0
certifi==2019.9.11
chardet==3.0.4
Click==7.0
dateparser==0.7.2
Flask==1.1.1
frozendict==1.2
gevent==1.4.0
greenlet==0.4.15
gunicorn==19.9.0
honcho==1.0.1
idna==2.8
importlib-metadata==0.23
itsdangerous==1.1.0
Jinja2==2.10.3
kombu==4.6.5
Mako==1.1.0
MarkupSafe==1.1.1
more-itertools==7.2.0
numpy==1.15.4
psycopg2==2.8.3
python-dateutil==2.8.0
python-dotenv==0.10.3
python-editor==1.0.4
pytz==2019.3
redis==3.3.11
regex==2019.8.19
requests==2.22.0
scipy==1.3.1
sentry-sdk==0.12.3
six==1.12.0
-e git+git@github.com:openstax/biglearn-sparfa-algs@987e9f0a04c73c06a87864d1b6da5c92a6d0bdc5#egg=sparfa_algs
-e .
SQLAlchemy==1.3.10
tenacity==5.1.1
tzlocal==2.0.0
urllib3==1.25.6
vine==1.3.0
Werkzeug==0.16.0
zipp==0.6.0
